	<body>
		<div id="container">
 			<%= render "layouts/header" %>
			<div id='middle'>
				<h2> Sage Body Health </h2>
				<p>WELCOME! This site is an invitation to choose health. It starts with this premise: our chosen pace and complexity of life distracts us from the basic fact that we can only grow wise through reflection and experience. With our own well-being, it is no different. We are receiving information all the time, and it is up to us to pay attention. The best suggestion I can make to anyone seeking outstanding health is to listen carefully to the counsel of four doctors.
				Four doctors. That many? How about a GP to take care of all the basics? After all, if all the basics are taken care of, who needs all the specialists? Well, this is the point; to obviate the presence of doctors in your life. Have them as friends, as tellers of interesting stories, as keepers of a peculiar understanding of the human condition.
				</p>
				<p>The four are really one: you! Exciting! Kind of frightening too. It means you have to ask yourself all sorts of questions, like "what are my needs regarding sleep-food-space-relationships-sex-work-vacation?" Or, "how did I feel after that workout?" The Four Doctors are there to help get some clue of what really makes us feel good, and what activities, foods, and lifestyle choices rob us of vitality. Ideally, this attention to meeting our needs and recognizing our wants provide an individual with motive, a foundation that maintains a center from which to grow healthier and happier.
				</p>
				<p>Browse around the site. There is some material here to get anyone started on the road to better health. When you are ready to go further, and seek more tools to really feel GOOD, it will be my absolute pleasure to help you out.
				</p>
				<p>So, welcome again, and good health to you!</p>
				<br />
				<h2>Travis E. Brown </h2>
				<p><img  src="images/travis.png" alt="Travis" align="left"/>Travis grew up watching his older brothers play soccer and wrestle, and followed in their footsteps with a dual-sport career at NYU. Combining his academic studies with an already strong affinity for physical activity, Travis received his first personal training certification in 1996 and has been continually educating himself on the latest fitness findings and trends ever since. Travis enjoys bringing his knowledge and experience to the JCC clients and training staff, while always learning from his peers.
				</p>
				<p>	Certifications: CSCS, NASM, Pre/Post Natal, MES, BS Kinesiology</p>
				<br />
			</div>
			<div class="clear"></div>
			<%= render "layouts/footer" %>

		</div> <!-- container -->
	</body>
</html>