
	<body>
		<div id="container">
			<%= render 'layouts/header' %>
			<div id='middle'>
				<h1> This is a new header </h1>
			<%= render :text => params.inspect %>
			</div> <!-- middle -->
			<%= render 'layouts/footer' %>
		</div> <!-- container -->
	</body>
