<div id="header">
	<img id="logo" src="images/logo.png" alt="we need a logo"/>
	<div id="site-title" ><h1> Sage Body Health </h1></div>
<!-- <?php 
 	$message=sess_var('message');
	$_SESSION['message']=""; // let's not leave any pesky messages around - why doesn't this work.
	if( 1==sess_var('logged_in',0))
		echo	"<p id='welcome'> Hello {$_SESSION['first_name']}, <a href='logout.php'>Log out? </a></p>";
		else
		-->
	<p id='welcome'>Welcome Guest, <a href='login.php'>Login? </a></p>
<!--	?> -->
	<br />
		<div class="clear"></div>
	<p id="message">No message here!!!</p>


	<div id="topnav">
		<ul>
			<li><a href="index.php">Home</a></li>
			<li><a href="four.php">Four Doctors</a></li>
			<li><a href="invitation.php">Invitation to Health</a></li>
			<li><a href="personal_invite.php">Personal Invites</a></li>
			<li><a href="useful_tools.php">Useful Tools</a></li>
			<li><a href="contact_us.php">Contact Us</a></li>
		</ul>
		<div class="clear"></div>
	</div><!-- topnav -->
</div> <!-- header -->
<div class="clear"></div>